.header {
  @apply
  tw-flex
  tw-flex-row
  tw-justify-between
  tw-items-center
  tw-rounded-4-px
  tw-p-12-px
  tw-m-24-px;
  background: linear-gradient(146deg, #e1eeff 19.67%, #ffe4fb 127.56%);
}

.search-button {
  @apply
  tw-border 
  tw-border-solid 
  tw-border-dark-border
  tw-rounded-4-px
  tw-flex
  tw-justify-center
  tw-h-60-px
  tw-w-200-px
}

.trending-subjects {
  @apply
  tw-bg-table-header-bg
  tw-p-12-px
  tw-rounded-4-px
  tw-shadow-lg
}