/* You can add global styles to this file, and also import other style files */
@tailwind base;

@tailwind components;

@tailwind utilities;

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #F2F2F2;
}

::-webkit-scrollbar-thumb {
  background: #BDBDBD;
}

::-webkit-scrollbar-thumb:hover {
  background: #6E6E6E;
}

*,
html,
body {
  @apply
  tw-font-activ-grotisk
  tw-text-14-px
  tw-box-border
  tw-antialiased;
}

html,
body {
  @apply tw-h-full tw-w-full
}

body {
  @apply tw-m-0 tw-p-0
}

table {
  td,
  th {
    padding-left: 16px;
  }
}